[submodule "pkgs/phd-utils"]
	path = pkgs/phd-utils
	url = https://github.com/ykrist/phd-utils.git
	branch = release
[submodule "pkgs/oru"]
	path = pkgs/oru
	url = https://github.com/ykrist/oru.git
    branch = release
